<header class="main-header">
    <nav class="main-nav">
        <ul class="nav-items-container">
            <li class="nav-items">
                <a href="/" class="<%= path==='/' ? 'active' : '' %> nav-links">Home</a>
            </li>
            <li class="nav-items">
                <a href="/users" class="<%= path==='/users' ? 'active' : '' %> nav-links">Users</a>
            </li>
        </ul>
    </nav>
</header>