doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{ pageTitle }
        <link rel="stylesheet" href="/css/main.css" />
        block styles
    body 
        header.main-header
            nav.main-nav
                ul.nav-items-container
                    li.nav-items
                        a(href="/", class=(path==='/' ? 'active nav-links': 'nav-links')) Home
                    li.nav-items
                        a(href="/users", class=(path==='/users' ? 'active nav-links': 'nav-links')) Users
        
        block content